﻿@using TBS.DeveloperChallenge.TitleSearch.Web.Models
@model TBS.DeveloperChallenge.TitleSearch.Web.Models.Title

@{
    ViewBag.Title = "Title Detail";
}

<h2>Title Detail</h2>

<fieldset>
    <legend>Title</legend>

    <div class="display-label">
         Title: 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TitleName)
    </div>

    <div class="display-label">
         Type:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TitleType)
    </div>

    <div class="display-label">
         Released:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseYear)
    </div>

    <div class="display-label">
         Processed: 
    </div>
    <div class="display-field">
       @DateTime.Parse(Model.ProcessedDatetimeUTC).ToLongDateString()
    </div>

    <div class="display-label">
         Description:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Storylines[0].Description)
    </div>
    <div class="display-label">
         Credits:
    </div>
    <div class="display-field">
        <ul>
        @foreach (Participants person in Model.Participants.Where(p=>p.IsKey == true))
        {
           <li>@person.Name - @person.RoleType</li>
        }
        </ul>
        
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to Search", "Index")
</p>
