﻿@using TBS.DeveloperChallenge.TitleSearch.Web.Models
@{
    ViewBag.Title = "Index";
}

<h2>TBS Developer Challenge Title Search</h2>
<br /><br />

@using (Html.BeginForm())
{
    <input type="hidden" id="Id" />
    <input type="text" id="search" placeholder="Search for a title..." required />
    <input type="button" value="View Details" id="viewDetails" />
}

@section Scripts {
    <script type="text/javascript">

        var url = '/title/search';

        $('#viewDetails').click(function(){
            window.location.href ='/title/detail/' + $('#Id').val();
        });

        $('#search').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: url,
                    data: { query: request.term },
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.TitleName,
                                value: item._id
                            }
                        }));
                    }
                })
            },
            select: function (event, ui) {
                $('#search').val(ui.item.label);
                $('#Id').val(ui.item.value);
                return false;
            },
            minLength: 1
        });
</script>  
}